/* UserInfo.css */

.user-info-overlay {
  position: absolute;
  top: 90px;
  /* Ajusta esto según la altura de tu barra de navegación */
  right: 20px;
  z-index: 1000;
}

.user-info-container {
  background-color: #ffffff;
  /* Blanco sólido para coincidir con el navbar */
  color: black;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.user-info-container:hover {
  transform: scale(1.03);
}

.user-info-container h2 {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

.user-details p {
  margin: 15px 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 1rem;
}

.user-details strong {
  color: black;
  font-weight: 600;
}

.user-actions {
  margin: 20px 0;
}

.user-action-button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 0;
  transition: color 0.3s ease;
}

.user-action-button:hover {
  color: #0056b3;
  text-decoration: underline;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  letter-spacing: 1px;
}

.logout-button:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}

.icon {
  margin-right: 10px;
  font-size: 1.2rem;
}