.user-purchases-container {
  max-width: 1200px;
  margin: 5rem auto;
  /* Se ha agregado un margin-top de 5rem */
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.main-title-client {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #0e0b0b;
  text-align: center;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.sort-button {
  padding: 0.5rem 1rem;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sort-button:hover {
  background-color: #0056b3;
}

.filter-select {
  padding: 0.5rem 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
  color: #495057;
}

.date-range {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.date-range .icon {
  color: #007bff;
  margin-right: 0.5rem;
}

.date-input {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.purchase-card {
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.purchase-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.purchase-status {
  font-weight: bold;
}

.purchase-status.completed {
  color: #28a745;
}

.purchase-status.pending {
  color: #ffc107;
}

.purchase-status.cancelled {
  color: #dc3545;
}

.purchase-item {
  margin-bottom: 1rem;
}

.product-image {
  max-width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.product-image:hover {
  transform: scale(1.05);
}

.modal-img {
  max-width: 100%;
  border-radius: 8px;
}

.loading,
.error,
.no-purchases {
  text-align: center;
  font-size: 1.25rem;
  color: #333;
}

.no-purchases {
  color: #6c757d;
}